@model IEnumerable<Booking2.Data.Room>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Skapa Nytt Rum</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                <a asp-controller="Booking" asp-action="BookingUser" asp-route-id="@item.Id">Boka Användare</a> |
                <a asp-controller="Booking" asp-action="BookingJS" asp-route-id="@item.Id">Booking KnockOut</a>  |
                <a asp-controller="Booking" asp-action="Booking" asp-route-id="@item.Id">Boka</a> |

                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
